{% extends 'layout.html' %}{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
      <ol>
        <li>Phone: 0444 070 0707</li>
        <li>Email: samuel.hazard@ehhh07.com</li>
        <li>Address: 119 Unwins Bridge road</li>
      </ol>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <iframe
        src="https://www.google.com/maps/place/119+Unwins+Bridge+Rd,+Tempe+NSW+2044/@-33.9195399,151.1583695,17z/data=!3m1!4b1!4m6!3m5!1s0x6b12b08af6ee4829:0x5646ca173b642484!8m2!3d-33.9195444!4d151.1609444!16s%2Fg%2F11lk1nnh16?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D"
        width="100%"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        reffererpolicy="no-refferer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
