<html>
  <head>
    <title>hello</title>
    <style>
      button {
        background-color: white
      }
      p {
        font-family: cursive;
        border: 4px solid white;
      }
      img{
        height: 200px;
        width: 150px;
        border: 4px solid white;
      }
      body{
        background-color: deepskyblue;
        color: white;
      }

    </style>
  <head>

  <body>
    <div>
    <hr>
    <h1>Broker plushie</h1>
    <hr>
    </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzugKW3NGO0G7hrlIQGAzeddyxqyuZwx_oAw&s"
    >
    <p>Tired of the Same plushies? Meet Broker! Introducing Broker, the friendliest (and most financially savvy) plush pal around! Is your kiddo obsessed with business? Do you need a cuddly companion to ease away the stresses of the day? Then Broker is the plush for YOU! This adorable plush friend is ready to: Become your child's best business buddy! Imagine the imaginative play! Broker can help run a lemonade stand, manage a shady buisness, or deal literall fent! Broker's super-soft fur is perfect for snuggling up with on the couch, at bedtime, or anytime you are hungry! Perfectly salted good with fries!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6MdAD7wHRlM?si=thZQd7zDuqx-wr4B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p><a href="https://www.makeship.com/products/the-broker"><button>Press here for broker</button></a> <button>press here for gay men</button> </p>
    <hr>
  </body>
</html>
