{% extends 'layout.html' %}{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <ol>
        <h1><p><b>Tips for Team Fortress 2</b></p></h1>
        <p><b>
          Team Fortress 2 is a game where mechanical skill meets chaotic,
          class-based fun. Here’s a mix of strategic and practical tips to level
          up your game:
        </p></b>
        <Hr></Hr>
        <li>
          Master One Class at a Time – Instead of jumping around, focus on one
          class (like Soldier or Medic) to truly learn its strengths, matchups,
          and movement.
        </li>
        <li>
          Use the Right Loadout – Experiment with weapons to find what suits
          your playstyle best. Sometimes stock weapons are underrated!
        </li>
        <li>
          Map Knowledge is Power – Learn choke points, health pack locations,
          and alternate routes. Positioning can win fights before they happen.
        </li>
        <li>
          Stay Aware of Enemy Ubers and Spies – Keep track of when Medics might
          use ÜberCharge and always spy-check suspicious teammates.
        </li>
        <li>
          Fun & Be a Good Sport – A great attitude makes improvement more
          enjoyable, and you’ll earn respect along the way.
        </li>
        <div class="row">
          
        </div>
        <img src="static/images/image.png">
        <hr>
      </ol>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"></div>
  </div>
</div>
{% endblock %}
